In [ ]:
import time
import pandas as pd
import pandas as pd
import numpy as np
import requests, json

In [76]:
final_add = []
def get_coordinate(address): # 주소를 입력받음
    result = "" 
 
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + address # 카카오 api 서버스를 이용하여 접근
    rest_api_key = '키' # 사용자 api key
    header = {'Authorization': 'KakaoAK ' + rest_api_key} 

    r = requests.get(url, headers=header) 
 
    if r.status_code == 200: # 정보를 오류없이 받아왔다면
        if len(r.json()['documents']) != 0: # 길이가 0이 아니라면
            try : 
                result_address = r.json()["documents"][0]["address"]
                result = (result_address["y"],result_address["x"])  # 좌표 정보에 접근
                final_add.append(result)
            except:  # 예외처리
                result = np.nan
            
        else: # 길이가 0인경우 na처리
            result = np.nan
            final_add.append(result)
    else:
        result = "ERROR[" + str(r.status_code) + "]"
    return result # 좌표를 반환

get_coordinate('경기 광명시 소하동 1340-3')

('37.448330720832', '126.882326488652')

In [ ]:
#주소 검색 반복으로 지오코딩적용
df = pd.read_csv('지역농협데이터.csv', encoding ='euc-kr')

NameError: name 'pd' is not defined

In [6]:
xy = []
for address in df['address']:
    xy.append(get_coordinate(address))

df2 = pd.DataFrame(xy, columns =['lat','long'])

In [28]:
df2.head()

                lat              long
0  37.2031672989696  127.545087261862
1  37.2076886208325     127.543343281
2  35.1946905162414  128.902233540527
3   37.847420301178  127.187506515502
4   36.086291991551  128.539241611434

In [27]:
df2.shape

(4792, 2)

In [29]:
#df 병합
result = pd.concat([df,df2],axis=1)

In [30]:
result.head()

,branch,address,tel,lat,long
0,가남농협 (농·축협),경기도 여주시 가남읍 태평중앙1길 8-12,T. 031-883-2271,37.2031672989696,127.545087261862
1,가남농협 태평지점 (농·축협),경기도 여주시 가남읍 경충대로 1342,T. 031-885-9326,37.2076886208325,127.543343281
2,가락농협 (농·축협),부산광역시 강서구 가락대로 1459,T. 051-972-6601,35.1946905162414,128.902233540527
3,가산농협 (농·축협),경기도 포천시 가산면 선마로 233,T. 031-544-0100,37.847420301178,127.187506515502
4,가산농협 (농·축협),경상북도 칠곡군 가산면 천평1길 5,T. 054-971-4021,36.086291991551,128.539241611434

In [31]:
result.tail()

,branch,address,tel,lat,long
4787,흥해농협 (농·축협),경상북도 포항시 북구 흥해읍 흥해로 77,T. 054-261-5001,36.1116454619089,129.347590790564
4788,흥해농협 남부지점 (농·축협),경상북도 포항시 북구 흥해읍 동해대로 1486,T. 054-261-5580,36.1051956557013,129.343866064622
4789,흥해농협 달전지점 (농·축협),경상북도 포항시 북구 흥해읍 소티재로 323,T. 054-261-9530,36.0774891786154,129.3428177039
4790,흥해농협 중앙지점 (농·축협),경상북도 포항시 북구 흥해읍 한동로33번길 4,T. 054-261-8646,36.1110186962334,129.345579131907
4791,흥해농협 초곡지점 (농·축협),경상북도 포항시 북구 흥해읍 초곡지구로 57,T. 054-261-5040,36.0962633301,129.340205211014

In [32]:
result.shape

(4792, 5)

In [33]:
result.to_csv('농협_geo.csv',index = False, encoding ='euc-kr')